.User {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: Gainsboro;
}

.User-portrait {
    position: relative;
    height: 8rem;
    -webkit-box-shadow: 0 0 5px 1px gray;
    -moz-box-shadow: 0 0 5px 1px gray;
    box-shadow: 0 0 5px 1px gray;
    background: #F0F0F0;
    /* z-index: 1; */
}

.User-portraitContainer {
    position: relative;
    width: 5rem;
    height: 5rem;
    border: 1px solid rgb(65, 132, 225);
    color: rgb(65, 132, 225);
    text-shadow: 1px 1px gray;
    font-size: 3rem;
    border-radius: 8px;
    background: #F8F8F8;
}
