.AddMeal {

}

.AddMeal-searchBox {
    height: 4rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 5px 1px gray;
}

.AddMeal-searchBox input {
    height: 100%;
    width: 100%;
    border: none;
    background: #F8F8F8;
    padding: 0 6px;
    border-bottom: 2px solid silver;
    font-size: 1.2rem;
}

.AddMeal-searchBox input:focus {
    outline: none;
    border-bottom: 2px solid rgb(65, 132, 225);
}
