* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    top: 3rem; bottom: 3rem;
    height: 100vh;
    min-height: 600px;
    width: 100vw;
    overflow-y: scroll;
}

.centered {
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.txt-theme {
    color: rgb(65, 132, 225);
}

.bg-theme {
    background: rgb(65, 132, 225);
}

.theme-heading {
    background: rgb(65, 132, 225);
    color: white;
}

.bg-light {
    background: #F0F0F0;
}

.bg-carbs {
    background: rgb(232, 169, 14);
}

.bg-prot {
    background: rgb(191, 0, 0);
}

.bg-fat {
    background: rgb(52, 158, 99);
}
