.FoodItem,
.FoodItem--open {
    font-family: 'Lato', sans-serif;
    background: #F8F8F8;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    overflow-y: hidden;
    margin-bottom: 0.5rem;
}

.FoodItem {
    max-height: 4rem;
    -webkit-box-shadow: 0 1px 1px 1px silver;
    -moz-box-shadow: 0 1px 1px 1px silver;
    box-shadow: 0 1px 1px 1px silver;
}

.FoodItem--open {
    /* [max-height]
        - minimum FoodItem height 4rem
        - MacronutrientGraph needs 8rem (total 12rem)
        - each FoodItemAction needs 4rem (total 12 + (# of FoodItemAction * 4rem))
            - w/1 FoodItemAction (total 16rem)
            - w/2 FoodItemAction (total 20rem)
    */
    max-height: 20rem;
    -webkit-box-shadow: 0 0 5px 1px rgb(65, 132, 225);
    -moz-box-shadow: 0 0 5px 1px rgb(65, 132, 225);
    box-shadow: 0 0 5px 1px rgb(65, 132, 225);
}

.FoodItem-main {
    display: grid;
    grid-template-columns: 75% 25%;
    cursor: pointer;
}

.FoodItem--open .FoodItem-main {
    -webkit-box-shadow: 0 1px 5px 1px black;
    -moz-box-shadow: 0 1px 5px 1px black;
    box-shadow: 0 1px 5px 1px black;
    z-index: 2;
}

.FoodItem-info {
    display: grid;
    grid-template-rows: 2.5rem 1.5rem;
}

.FoodItem-infoName {
    padding-left: 12px;
    line-height: 3rem;
    font-size: 1.4rem;
}

.FoodItem-infoServings {
    padding-left: 24px;
    line-height: 1rem;
    opacity: 0.6;
}

.FoodItem-calories {
    line-height: 4rem;
    border-left: 1px solid lightgray;
    text-align: center;
}

.FoodItem-graph {
    position: relative;
    height: 8rem;
    background: #E8E8E8;
    border-bottom: 1px solid silver;
}
