.FoodItemNone {
    height: 4rem;
    display: grid;
    grid-template-columns: 4rem 1fr;
    font-family: 'Lato', sans-serif;
    background: #F4F4F4;
    box-shadow: 0 1px 1px 1px silver;
}

.FoodItemNone-img {
    position: relative;
    border-right: 1px solid lightgray;
    font-size: 1.4rem;
}

.FoodItemNone-txt {
    line-height: 4rem;
    padding-left: 12px;
    font-size: 1.2rem;
    opacity: 0.6;
}
