.Modal,
.Modal--closed {
    position: fixed;
    left: 0; right: 0;
    background: Gainsboro;
    transition: top 0.5s, bottom 0.5s;
    z-index: 1;
    overflow-y: scroll;
}

.Modal {
    top: 0; bottom: 3rem;
}

.Modal--closed {
    top: 100%; left: 0; right: 0;
    bottom: -100%;
}

.Modal-header {
    position: absolute;
    top: 0; right: 0; left: 0;
    display: grid;
    grid-template-columns: 3rem 1fr;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    box-shadow: 0 0 5px 1px gray;
    z-index: 1;
}

.Modal-body {
    position: absolute;
    top: 3rem; right: 0; bottom: 0; left: 0;
    overflow-y: scroll;
}
